.btn {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.btn--empty {
  background: none;
  border: none;
}

.btn--blue {
  color: $blue;
}

.btn--addnew {
  border-bottom: 1px solid $grey;
  color: $darker-grey;
  padding: 5px 0;
  margin-top: 25px;
  text-align: left; 
  width: 100%;
  &:hover {
    cursor: text;
  }
  &:focus {
    outline: 0;
  }
}

.btn--delete {
  color: $darker-grey;
  font-size: 30px;
  margin-top: -10px;
}